body {
  background-image: url("https://media.istockphoto.com/photos/wood-table-on-blur-cafe-with-light-background-picture-id802636540?k=6&m=802636540&s=612x612&w=0&h=BrF4xjbeT_lLP_5-lUl4Gnh-COPprxgJV0J5IF9Lnrw=");
  border: 1px solid black;
}

h1 {
  color: Blue;
  background-color: orange;
  border: 1px solid black;
}

p {
  font-family: "veranda";
  font-size: 20px;
}

h1 {
  text-shadow: 4px 4px 5px magenta;
  Text-align: center;
  font-family: "stencil";
  font-size: 30px;
}

a:link h1 {
  color: black;
}

a:visited h1 {
  color: black;
}

a:focus h1 {
  color: black
}

.div {


  display: inline-block;
  box-sizing: border-box;
  border-width: 25%;
  bottom: 100;
  right: 100;

}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
  justify-content: center;
  align-items: center;

}


.yes {
  color: green;
  float:left; 
  position: absolute;
  top: 200px;
  left: 55px;
  width: 200px;
  height: 100px;
  font-size: 9em
 

}

.no {
  color: red;
  float:right;
  position: absolute;
  top: 200px;
  right: 100px;
  width: 200px;
  height: 100px;
  font-size: 9em
}


.flex-container
>div {
  background-color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}



